@model Indexer.ViewModels.DocTypeAIndexVM
@{
    ViewBag.Title = "Index";
}

<h2 class="mb-4">Document Type B</h2>

<div class="alert alert-warning">
    <p>Doc Type B has not been fully implemented for this sample.</p>
</div>



